$bg:#0A1316;
$bgLight:#182F31;
$dark:#121A1D;
$bgDark: #10181B;
$white:#fff;
$grey:#6A6A6A;
$darkGrey:#797B78;
$lightGrey:#A19E9B;
$orangeDark:#EF7C6A;
$orange:#D68240;
$orangeLight:#EB9D20;
$yellow:#FFB632;
$pink:#F855CA;
$inputColor:#B2BBBB;

